<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="EventLogTarget" xsi:type="EventLog" layout="${message}${newline}${exception:format=ToString}" machineName="." source="TestNlogApp" log="Application" eventId="${event-properties:EventId:whenEmpty=0}" />
  </targets>

  <rules>
    <logger name="ApplicationEventLog" minlevel="Debug" writeTo="EventLogTarget" />
  </rules>
</nlog>
